{
    "presets": [
      [
        "@babel/preset-env",
        {
          "useBuiltIns": "entry",
          "targets": {
            "browsers": [
              "chrome >= 55",
              "firefox >= 57",
              "safari >= 10",
              "edge >= 16",
              "ie 11",
              "android >= 4.0"
            ]
          },
          "corejs": 2
        }
      ],
      "@babel/preset-react"
    ],
    "plugins":[
      ["@babel/plugin-proposal-decorators", { "legacy": true }]
    ],
    "env": {
      "development": {
        "plugins": ["lodash"]
      },
      "production": {
        "plugins": ["lodash", "transform-react-remove-prop-types"]
      },
      "test":{
        "plugins": ["@babel/plugin-transform-runtime"]
      }
    }
  }
  